@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.puls {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.reportone {
  box-shadow: 0px 14.63px 15.2px 0px #0000000A;
  box-shadow: 0px 2.25px 11.26px 0px #98989840;
}

.reportmain {
  box-shadow: 0px 26px 27px 0px rgba(0, 0, 0, 0.04);
}

.reporttwo {
  box-shadow: 0px 26px 27px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px -26px 27px 0px rgba(0, 0, 0, 0.1);
}

.trackingone {
  box-shadow: 0px 3.86px 21.24px 0px rgba(0, 0, 0, 0.1);

}

.trackingmain {
  box-shadow: 0px -0.92px 17.51px 0px rgba(0, 0, 0, 0.1);

}

/* custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 2px;

}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;

}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@theme {
  /* color */
  --color-whity: #110163;
  --color-dark: #076787;



  /* text-size */
  --text-custom-7xl: 52px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 32px;
  --text-custom-4xl: 38px;
  --text-custom-5xl: 40px;

  /* line-height */
  --leading-100: 100%;
  --leading-150: 150%;
  --leading-120: 120%;
  --leading-110: 110%;

}